version: 2
jobs:
  build-linux-nix:
    docker:
      - image: nixos/nix
    working_directory: ~/inline-java
    steps:
      - checkout
      - run:
          name: Install Stack
          command: |
            apk update --no-progress && apk --no-progress add ca-certificates bash
            nix-env -f nixpkgs.nix -iA stack
      - run:
          name: Compute cache key
          command: |
              (echo shell.nix; echo nixpkgs.nix; find . -name "*.cabal" -o -name "stack.yaml" -type f) | sort | xargs cat > /tmp/stack-deps
      - restore_cache:
          keys:
            - inline-java-stack-dependencies-{{ arch }}-{{ checksum "/tmp/stack-deps" }}
            - inline-java-stack-dependencies-{{ arch }}-
      - run:
          name: Build dependencies
          command: |
            stack --no-terminal --nix build --only-snapshot --prefetch --test --bench -j2
      - save_cache:
          key: inline-java-stack-dependencies-{{ arch }}-{{ checksum "/tmp/stack-deps" }}
          paths:
            - ~/.stack
      - run:
          name: Build project
          command: stack --nix --no-terminal build -j2 --pedantic --test --bench --no-run-tests --no-run-benchmarks
      - run:
          name: Test
          command: stack --nix --no-terminal test

  build-bazel:
    docker:
      - image: nixos/nix
    working_directory: ~/sparkle
    environment:
      - NIXRUN: nix-shell -I nixpkgs=./nixpkgs.nix --pure -p gcc bazel stack nix openjdk11 ghc python3 --run
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: |
            apk update --no-progress && apk --no-progress add ca-certificates bash binutils zip
            $NIXRUN "echo nix dependencies installed"
      - run:
          name: Build project
          command: |
            echo "common --host_platform=@io_tweag_rules_haskell//haskell/platforms:linux_x86_64_nixpkgs" > .bazelrc.local
            $NIXRUN "bazel build --jobs 2 //..."

  build-darwin-brew:
    macos:
      xcode: "9.0"
    steps:
      - checkout
      - run:
          name: Prepare system
          command: |
            mkdir -p ~/.local/bin
            curl -Lk https://www.stackage.org/stack/osx-x86_64 | tar xz --strip-components=1 -C ~/.local/bin
      - run:
          name: Install software
          command: |
            brew update
            brew cask install adoptopenjdk8
            brew install gradle
      - run:
          name: Compute cache key
          command: |
            find . -name "*.cabal" -o -name "stack.yaml" -type f | sort | xargs cat > /tmp/stack-deps
      - restore_cache:
          keys:
            - inline-java-stack-dependencies-{{ arch }}-{{ checksum "/tmp/stack-deps" }}
            - inline-java-stack-dependencies-{{ arch }}-
      - run:
          name: Build dependencies
          command: |
            ~/.local/bin/stack --no-terminal build -j2 --only-snapshot --prefetch --test --bench
      - save_cache:
          key: inline-java-stack-dependencies-{{ arch }}-{{ checksum "/tmp/stack-deps" }}
          paths:
            - ~/.stack
      - run:
          name: Build and test
          command: |
            . set-java-home.sh
            # Make libjvm.dylib visible to the runtime linker
            ln -sf "$JAVA_HOME/jre/lib/server/libjvm.dylib" /usr/local/lib/libjvm.dylib
            ~/.local/bin/stack --no-terminal build -j2 \
                --test \
                --extra-lib-dirs=$JAVA_HOME/jre/lib/server/ \
                --extra-include-dirs=$JAVA_HOME/include/ \
                --extra-include-dirs=$JAVA_HOME/include/darwin/

  build-linux-linear:
    resource_class: xlarge
    docker:
        - image: tweag/linear-types:1.0.5
    working_directory: ~/inline-java
    steps:
      - checkout
      - run:
          name: Install system dependencies
          command: |
            apt-get update && apt-get install -y gradle openjdk-8-jdk
      - run:
          name: Compute cache key
          command: |
              (find . -name "*.cabal" -o -name "stack-linear.yaml" -type f) | sort | xargs cat > /tmp/stack-deps
      - restore_cache:
          keys:
            - inline-java-stack-linear-dependencies-{{ arch }}-{{ checksum "/tmp/stack-deps" }}
            - inline-java-stack-linear-dependencies-{{ arch }}-
      - run:
          name: Build dependencies
          command: |
            . env-linear.sh
            stack --no-terminal build --only-dependencies --prefetch --test -j4 jni jvm inline-java
      - save_cache:
          key: inline-java-stack-linear-dependencies-{{ arch }}-{{ checksum "/tmp/stack-deps" }}
          paths:
            - ~/.stack
            - .stack-work
      - run:
          name: Build project
          command: |
            . env-linear.sh
            stack --no-terminal build -j4 --pedantic --test --no-run-tests --no-run-benchmarks inline-java
      - run:
          name: Test
          command: |
            . env-linear.sh
            stack --no-terminal test jni jvm inline-java

workflows:
  version: 2
  build:
    jobs:
      - build-linux-nix
      - build-bazel
      - build-linux-linear
      - build-darwin-brew
